name: Test Exam 2024-07-05

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v3
      with:
        python-version: "3.12"

    - name: Install dependencies
      working-directory: ./exams/2024/07-05/solution
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install --no-root

    - name: Init data
      working-directory: ./exams/2024/07-05/solution
      run: poetry run python init_data.py

    - name: Run tests
      working-directory: ./exams/2024/07-05/solution
      run: poetry run pytest --junit-xml=test-exam-2024_07_05-results.xml

    - name: Surface failing tests
      if: always()
      uses: pmeier/pytest-results-action@main
      with:
         path: ./exams/2024/07-05/solution/test-exam-2024_07_05-results.xml
         summary: true
         display-options: fEX
         fail-on-empty: true
         title: Test Exam 2024/07/05 Results
